*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129 !important;
}

.content {
  color: #fff;
  width: 50%;
  margin: 1rem auto;
  
  border-radius: 2rem;
  padding: 2rem;
}
.backArrow {
  cursor: pointer;
  margin-bottom: 5px;
}

.content p {
  margin: 1.5rem auto;
}

.stand {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.stand img {
  width: 30px;
}

/*MEDIA VIEWS*/
@media (max-width: 768px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 568px) {
  .content {
    width: 98%;
    padding: 0.5rem;
  }
}
