*,
input {
  font-family: "Poppins", sans-serif;
}
body {
  background: #021129 !important;
}

.wrapper {
  width: 100%;
  padding: 0.5rem;
}

.lead {
  margin: 0.5rem auto;
  width: 100%;
}

.lead h3 {
  text-align: center;
  color: #fff;
}

.main-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 3px 3px 8px #000;
  width: 60%;
  margin: 0.5rem auto;
  padding: 1rem !important;
}

.backArrow {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;  
}

.box-right input,
.box-right textarea {
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 12px;
  border: none;
}

.box-right label {
  font-size: 0.9rem;
}

.box-right {
  width: 45%;
  padding: 0;
}

.box-left {
  width: 45%;
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 0.7rem;
}

.box-left h4 {
  color: #fff;
}

.box-left input {
  margin-top: 4rem;
}

#subscribe {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}

#subscribe button {
  background: #ba00ba;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: ease 0.4s;
}

#subscribe button:hover {
  background: #740374;
}

.form-select {
  background: #021129;
  color: #fff;
  transition: ease 0.4s;
}

.box-left p {
  margin: 2rem auto 0 auto;
  color: #fff;
  text-align: center;
}

label {
  color: #fff;
  padding: 0.4rem;
}

.input-group {
  text-align: center;
  margin: 0.3rem auto 2rem auto;
}

.custom-file-button label {
  margin: 0.1rem auto;
}

.custom-file-button label:hover {
  cursor: pointer;
}

.upload-input {
  display: none;
  background: none !important;
}

.box-right button {
  background: none;
  border: none;
}

.box-right button img {
  width: 10%;
}

.textarea {
  width: 95%;
  margin-bottom: 2rem;
}

.textarea textarea {
  width: 95%;
  padding: 0.6rem;
}

#category {
  margin-bottom: 1rem;
  width: 90%;
}

.caption {
  width: 95%;
  margin-bottom: 2rem;
}

.caption input {
  width: 95%;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
}

#link {
  border: none;
  border-bottom: 2px solid #fff;
  background: none;
  width: 90%;
  color: #fff;
  padding-left: 0;
  margin-bottom: 1rem;
  border-radius: 0;
}

.send-button {
  width: 90%;
}

.send-button img {
  float: right;
  width: 17% !important;
}

.form-select:hover {
  cursor: pointer;
}

/*MOBILE VIEW*/
@media (max-width: 768px) {
  .main-card {
    width: 95%;
    padding: 0.7rem 0.5rem !important;
  }

  .box-left {
    width: 95%;
    margin: 0.4rem auto 0.5rem auto;
  }

  .box-right {
    width: 95%;
    margin: 0.5rem auto 1rem auto;
  }

  #caption,
  #message,
  #category,
  #link {
    width: 200px;
  }

  input {
    width: 95%;
  }
}

@media (max-width: 568px) {
  .wrapper {
    padding: 5px;
  }

  .main-card {
    width: 98%;
    box-shadow: none;
  }

  .box-left {
    width: 98%;
  }

  .box-right {
    width: 95%;
    padding: 0;
  }

  .box-right {
    padding: 0;
  }

  #caption,
  #message,
  #category,
  #link {
    width: 95%;
  }

  input {
    width: 95% !important;
  }
}
