*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129;
}

.wrapper {
  box-shadow: 3px 3px 8px #000;
  padding: 0.5rem;
  background: #021129;
  width: 45%;
  border-radius: 0.5rem;
}
 
.liveHeadline {
  margin: 0.5rem auto;
  color: #fff;
  text-align: center;
}

.backArrow {
  cursor: pointer;
}

.liveBox {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  width: 100%;
}

.liveButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.liveButton img {
  width: 40%;
  cursor: pointer;
}

.liveButton button {
  border-radius: 0.5rem;
  background: #ba00ba;
  color: #fff;
  padding: 0.3rem 1rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  animation-name: blinking-button;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes blinking-button {
  from {
    background: #ba00ba;
  }
  to {
    background: #740374;
  }
}

.liveInfo {
  margin-top: 0;
  color: #fff;
}

#live-content {
  height: 55vh;
  padding: 5px 0;
}

.liveInfo p {
  font-size: 14px;
}

.liveInfo span {
  font-size: 12px;
}

.liveDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#liveTitle {
  margin-bottom: 0.4rem;
}

.icons button {
  background: none;
  border: none;
  color: #fff;
  line-height: 1rem;
  text-align: center;
}

.liveDetailsInner {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.2rem;
  width: 98%;
}

.liveDetailsInner .userComment {
  /*input*/
  padding: 10px;
  background: #021129;
  color: #fff !important;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 0;
  border: 2px solid #fff;
  border-radius: 2rem;
  width: 220px;
}

.liveDetailsInner button,
.liveDetailsInner p {
  cursor: pointer;
}

.liveDetailsInner .postComment {
  /*post comment button*/
  width: 30px;
  background: #021129;
  border: none;
}

.liveDetailsInner .postComment img {
  width: 30px;
  transform: rotate(47deg);
}

.liveText {
  text-align: left;
  font-size: 13px;
}

.liveText p {
  margin-bottom: 0rem;
}

.liveText p a {
  text-decoration: none;
  color: #fff;
}

.liveText .icons {
  line-height: 0.8rem;
}

.followButton {
  background: #ba00ba;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  font-weight: 500;
  margin-left: 1rem;
}

#moreIcon {
  background: none;
  border: none;
  margin-left: 3rem;
}

hr {
  display: none;
}

/*MEDIA VIEWS*/

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }

  #liveBox {
    padding: 0.7rem 1rem;
    width: 100%;
  }

  .liveDetailsInner {
    width: 100%;
  }
}

@media (max-width: 568px) {
  .wrapper {
    width: 100%;
    box-shadow: none;
    padding: 0;
  }

  .liveHeadline {
    margin: 0.1rem auto;
  }

  .liveButton img {
    width: 140px;
  }

  .liveBox {
    margin: 0.5rem auto 2rem auto;
    padding: 5px;
    border: none;
    border-radius: 0;
    width: 100%;
  }

  .liveDetailsInner .userComment {
    /*input*/
    padding: 10px;
    font-size: 12px;
    margin-top: 5px;
    border: 2px solid #fff;
    border-radius: 2rem;
    width: 80%;
  }

  .liveDetailsInner .postComment img {
    margin-top: 10px;
  }

  hr {
    display: block;
    color: #fff;
    border: 1px solid #fff;
  }
}
