*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("Images/Joeboy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  box-shadow: 3px 3px 8px #000;
  padding: 1rem;
  background: #021129;
  width: 60%;
  border-radius: 1rem;
  height: 700px;
}

.wrapper .main-logo img {
  width: 40%;
  margin: 0 auto;
}

.wrapper .main-logo img:hover {
  cursor: pointer;
}

.content {
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
  background: #021129;
  border: 2px solid #fff;
}

.backArrow {
  cursor: pointer;
  margin-bottom: 10px;
}

.live {
  display: flex;
  justify-content: space-between;
}

.live button {
  border-radius: 0.5rem;
  background: #ba00ba;
  color: #fff;
  padding: 0.3rem 1rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  animation-name: blinking-button;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes blinking-button {
  from {
    background: #ba00ba;
  }
  to {
    background: #740374;
  }
}

.live-content {
  height: 40vh;
}

.caption-input {
  background: #021129;
  padding: 0.5rem 0.7rem 0.2rem 0.7rem;
  border-radius: 0.5rem;
  width: 40%;
  border: 2px solid #fff;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.caption-input button {
  background: none;
  padding: 0.3rem;
  border: none;
  justify-content: flex-end;
}

.caption button img {
  width: 30px;
}

.caption-input input {
  display: block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 2px solid #fff;
  margin: 0.3rem 0;
  width: 100%;
  font-size: 12px;
  background: #021129;
  color: #fff;
}

.caption-input textarea {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 2px solid #fff;
  margin: 0.3rem 0;
  width: 100%;
  font-size: 12px;
  background: #021129;
  color: #fff;
}

.content #go-live {
  margin: 0.5rem 0;
  background: #fff;
  border: none;
  width: 35%;
  border-radius: 0.3rem;
  color: #021129;
  transition: 0.4s ease;
  font-weight: 600;
  padding: 5px;
}

.content #go-live:hover {
  background: #ba00ba;
}

.content button img {
  transform: rotate(45deg);
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0.3rem 0;
  width: 85%;
}

.user img,
.user p {
  display: inline;
  color: #fff;
}

.user p,
.user span {
  font-size: 13px;
}
.user img {
  width: 40px;
}

.userIcon button {
  background: none;
  border: none;
}

.icons {
  margin-top: 0.3rem;
}

.icons button {
  background: none;
  border: none;
  color: #fff;
  line-height: 1rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .content,
  .caption {
    width: 95%;
    padding: 0.5rem 0.7rem;
  }

  .caption-input {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
    height: 100vh;
  }

  .content {
    width: 100%;
    padding: 0.5rem 0.7rem;
  }

  .caption {
    width: 100%;
  }

  .caption-input {
    width: 70%;
  }

  .live-content {
    height: 50vh;
  }
}

@media (max-width: 568px) {
  body {
    background: #021129;
  }

  .wrapper {
    width: 100%;
    box-shadow: none;
    padding: 0;
  }

  .content {
    border: none;
    width: 100%;
    padding: 0 5px;
    margin: 5px auto;
  }

  .caption {
    width: 100%;
    padding: 0;
  }

  .caption-input {
    width: 100%;
    padding: 5px;
  }
}
