*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129 !important;
}

.wrapper {
  padding: 5px 10px;
}

.content {
  color: #fff;
  width: 50%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  line-height: 1.5rem;
}

.backArrow {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 5px;  
}

.content h3 {
  text-align: center;
}

.content p {
  margin: 0.5rem auto;
}

.cardOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.3rem auto 1rem auto;
}

.cardOptions img {
  width: 25%;
}

/* The Modal (background) */
#promoteModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 25%;
  border-radius: 0.3rem;
}

/* The Close Button */
#closePromote {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#closePromote:hover,
#closePromote:focus {
  color: #000;
  text-decoration: none;
}

.promotePopup {
  color: #000;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#promoteButton {
  margin-top: 0.4rem;
  background: #021129;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
}

.buttons button {
  background: #021129;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.3rem 0.4rem;
}

/*MEDIA VIEWS*/
@media (max-width: 768px) {
  .content {
    width: 80%;
  }

  .modalContent {
    width: 60%;
  }
}

@media (max-width: 568px) {
  .content {
    width: 95%;
    padding: 5px;
  }

  .modalContent {
    width: 95%;
  }
}
