*,
input {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

body {
  background: #021129 !important;
}

.container {
  width: 30%;
  border-radius: 1rem;
  background: #021129;
  margin: 0.5rem auto;
  padding: 1rem;
}

.backArrow {
  cursor: pointer;
}

h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.main-logo {
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.main-logo img {
  width: 40%;
  cursor: pointer;
}

.resetPassword {
  margin: 0 auto;
  width: 95%;
}

.resetPassword input {
  margin: 1.5rem auto;
}

.username input,
.resetCode input {
  display: block;
  width: 90%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.6rem;
}

.newPasswordInput .newPassword {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.newPassword input {
  width: 90%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.6rem 0.8rem;
  margin-bottom: 3px;
}

.newPasswordInput label {
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
}

.newPasswordInput .confirmPassword {
  position: relative;
}

.newPasswordInput #confirm-password {
  display: block;
  width: 90%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.6rem 0.8rem;
}

.eyeIcon {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 28px;
  background: none;
}

.eyeIconConf {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 28px;
  background: none;
}

#otp {
  position: relative;
  background: none;
  display: flex;
  justify-content: center;
  border: 2px solid #fff;
  transition: ease 0.4s;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  margin: 1rem auto;
}

#otp:hover {
  background: #ba00ba;
  border: 2px solid #ba00ba;
}

#otp:disabled:before {
  content: "";
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.733);
  z-index: 1;
  transition: ease 0.4s;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  margin: 1rem auto;
}

#otp:disabled:after {
  content: attr(data-countdown);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #fff;
  z-index: 2;
}

.button {
  display: flex;
  justify-content: center;
}

.button #submitPassword {
  background: none;
  border: 2px solid #fff;
  transition: ease 0.4s;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  margin: 1rem auto;
}

.button #submitPassword:hover {
  background: #ba00ba;
  border: 2px solid #ba00ba;
}

/*MEDIA VIEW*/
@media (max-width: 1024px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .container {
    width: 95%;
  }
}
