*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129 !important;
}

.container {
  width: 30%;
  border-radius: 1rem;
  background: #021129;
  margin: 0.5rem auto;
  box-shadow: 5px 5px 8px #000;
  padding: 1rem 2rem;
}

h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.main-logo {
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.main-logo img {
  width: 40%;
}

.newPassword {
  margin: 0 auto;
}

.newPasswordInput {
  margin: 0 auto;
  text-align: center;
}

.newPasswordInput input {
  display: block;
  margin: 1rem 0;
  width: 80%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.6rem;
}

.button button {
  background: none;
  border: 2px solid #fff;
  transition: ease 0.4s;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
}

.button button:hover {
  background: #bd74bd;
  border: 2px solid #bd74bd;
}

/*MEDIA VIEW*/
@media (max-width: 1024px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .container {
    width: 95%;
  }
}
