*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("Images/liquorose\ 4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 1rem;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  box-shadow: 3px 3px 12px #000;
  background: #021129 !important;
  border-radius: 2rem !important;
  padding: 2rem 1rem;
}

.logo {
  background: #021129;
  margin: 0 auto;
  width: 40%;
}

.logo img {
  margin: 1.5rem auto;
  width: 100%;
}

.card {
  width: 60%;
  background: #021129 !important;
  border-radius: 2rem !important;
  padding: 3rem 2rem;
  border: 2px solid #fff;
}

input {
  margin-bottom: 1rem;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  font-size: 14px;
}

.password {
  position: relative;
}

.password img {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  cursor: pointer;
}

.forgot {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  gap: 0.4rem;
  color: #fff;
}

.forgot a {
  text-decoration: none;
}

button {
  margin: 0.5rem auto;
  background: #021129;
  border: 3px solid #fff;
  padding: 0.7rem 1rem;
  border-radius: 50%;
}

button i {
  color: #fff;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 80%;
  }

  .card,
  .card1 {
    width: 80%;
  }
}

@media (max-width: 568px) {
  body {
    background: #021129;
  }

  .container {
    margin-top: 0.5rem;
    padding: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    padding: 5px;
  }

  .card {
    width: 95%;
    border: none;
    padding: 10px;
  }

  .logo {
    width: 50%;
  }
}
