*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129 !important;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #021129;
  z-index: 9999;
}

.preloader {
  text-align: center;
  margin: 20% auto 0 auto;
  width: 250px;
}

.preloader p {
  color: #fff;
}

.progress {
  margin: 0 auto;
  height: 20px;
  width: 0px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 15px;
  animation: progress 4s infinite linear;
}

@keyframes progress {
  0% {
    width: 0%;
  }

  25% {
    width: 25%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}

button {
  background: none;
  border: none;
}

.dropdown button {
  border: none !important;
}

.dropdown-menu {
  margin-top: 2rem !important;
  position: absolute;
  background: #021129 !important;
  padding: 1rem 1rem !important;
  width: 300px;
  box-shadow: 3px 3px 6px #000;
  border-radius: 2rem;
}

.dropdown-menu li {
  list-style: none;
  color: #fff !important;
  font-size: 0.9rem !important;
}

.dropdown-menu hr {
  border: 1px solid #fff;
  width: 100px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #fff !important;
  font-size: 0.9rem;
  transition: 0.4s ease;
}

.dropdown-menu li a:hover {
  background: none;
  transform: scale(105%);
}

/*Toggle Switch*/
.switch {
  --secondary-container: #3a4b39;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #021129;
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: var(--primary);
}

input:checked + .slider {
  background-color: var(--secondary-container);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
  transform: translateX(1.9em);
}
/*Toggle switch*/

.social-icons li {
  display: inline-block;
}

.social-icons li a {
  color: #fff;
  margin-right: 0 !important;
  padding: 0 !important;
}

.social-icons li a img {
  width: 2rem;
}

.social-icons .copy {
  font-size: 0.8rem !important;
}

.navmenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #021129;
  padding: 1rem 0;
}

.navbuttonsMobile,
#timelineSuggested,
#suggestedBackground {
  display: none;
}

.navmenu .main-logo {
  width: 25%;
}

.navmenu .main-logo img {
  width: 100%;
  margin-left: -120px;
}

.navmenu .navbuttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
}

.navmenu .live-button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.2rem 2rem;
  background: #bd74bd;
  color: #fff;
  font-size: 1.5rem;
  transition: ease 0.4s;
  animation-name: blinking-button;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes blinking-button {
  from {
    background: #ba00ba;
  }
  to {
    background: #740374;
  }
}

#search-container {
  display: none;
  position: relative;
}

#search-input {
  position: absolute;
  z-index: 1;
  left: -230px;
  top: 40px;
  background: #021129;
  width: 250px;
  color: #fff;
  padding: 0.4rem 0.5rem;
  border: 2px solid #fff;
  font-size: 12px;
  border-radius: 0.5rem;
}

.navbuttons img {
  width: 3rem;
  transition: 0.4s;
}

.navbuttons img:hover {
  transform: scale(110%);
}

.navbuttons :nth-child(3) img {
  width: 2rem;
}

.navbuttons .user-create {
  display: flex !important;
  gap: 0.4rem;
}

.search button img {
  width: 20px !important;
}

.subscribe {
  display: flex;
  justify-content: right;
}

.subscribe button {
  background: #ba00ba;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: ease 0.4s;
}

.subscribe button:hover {
  background: #740374;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 3rem auto;
}

.tabs button {
  border-radius: 2rem;
  border: white solid 2px;
  padding: 0.3rem 1.6rem !important;
  transition: 0.3s ease;
  color: #fff;
  font-weight: 500;
  margin: 0.4rem 0.7rem;
  cursor: pointer;
}

.tabs a {
  text-decoration: none;
  color: #fff !important;
  margin: 0.2rem auto;
  background: #cc1ccc;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.tabs button:hover {
  transform: scale(110%);
  color: #fff;
}

.tabs button:focus {
  background: #bd74bd;
  border: #bd74bd solid 2px;
}

#video,
.video {
  width: 100%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.my-video-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  z-index: 1;
  width: 98%;
}

.my-video-controls button {
  width: 15%;
  background: none !important;
  color: #021129 !important;
  border: none !important;
}

.my-video-controls button img {
  width: 100%;
}

.my-video-controls button,
.my-video-controls select {
  margin: 0 10px;
}

.my-video-controls input[type="range"] {
  width: 20%;
  color: #021129;
  background: #021129;
}

.my-video-controls select {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  background: #021129;
  width: 18%;
}

.my-video-controls {
  display: none;
}

.btn-close:hover {
  background: #fff !important;
  color: #000 !important;
  border: none !important;
}

.mobileTabs,
.discover,
.mobileView,
.mobileSearch {
  display: none;
}

.fa-solid,
.fa-bookmark {
  color: #fff;
}

.modal-content {
  width: 70% !important;
}

/* The Modal (background) */
.shareModal,
#liveModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 30%;
}

.liveModalContent {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 20%;
}

/* The Close Button */
.close,
#closeLive {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
#closeLive:hover,
.close:focus,
#closeLive:focus {
  color: #000;
  text-decoration: none;
}

#goLive,
#watchLive {
  background: #ba00ba;
  color: #fff;
  padding: 0.4rem 0.6rem;
  margin: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}

#goLive:hover,
#watchLive:hover {
  background: #5a015a;
}

.modalContent p {
  margin-bottom: 1rem;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.share_popup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.share_popup a {
  width: 25%;
  color: #000;
}

.share_popup img {
  width: 100%;
}

#myBtn,
#myBtnII,
#myBtnIII,
#myBtnIV,
#myBtnV,
#myBtnVI,
#myBtnVII,
#myBtnVIII {
  background: none;
  border: none;
  color: #fff;
}

.more-icons {
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: none;
}

.more-icons li {
  list-style: none;
  display: inline-block;
  margin-right: 0.6rem;
}

.more-icons li p {
  color: #fff;
}

#image-cards {
  justify-content: space-between !important;
  width: 90%;
}

#image-cards .card {
  background: #ba00ba;
  border-radius: 0.4rem !important;
  margin-bottom: 2rem;
  transition: ease 0.4s;
  padding: 0;
}

#image-cards .card:hover {
  cursor: pointer;
  background: #5a015a;
}

#image-cards .card .post-img {
  position: relative !important;
  text-align: left;
}

.post-img:hover .my-video-controls {
  display: flex;
}

#image-cards .card .post-img p {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 0 !important;
}

#image-cards .card .post-img h4 {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
  font-size: 18px;
}

#image-cards .card .post-img a {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  text-decoration: none;
  font-size: 13px;
}

#image-cards .card img {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

#image-cards .card .card-body {
  display: flex !important;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-left: 0;
  margin-top: 0;
  height: 60px;
}

#image-cards .icons-list {
  display: flex;
  justify-content: start;
  align-items: center !important;
  padding-bottom: 0 !important;
  margin-left: -2rem;
  margin-top: 5px;
}

#image-cards .icons-list li {
  list-style: none;
  margin-left: 0 !important;
}

#image-cards .icons-list li button:hover {
  border: none !important;
}

.commentBox {
  display: none;
}

.username span img {
  width: 20px;
}

#mobileFollowModal {
  display: none;
}

.timePinned {
  font-size: 12px;
  color: #000 !important;
  padding: 0.2rem 0.3rem;
  background: #9d9e9e;
  margin-bottom: 0.2rem;
}

.likeListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#promoteButton {
  margin-top: 0.4rem;
  background: #021129;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
}

#closePromote {
  font-weight: 600;
}

.install-button {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.install-button.show {
  display: block;
}

/*Media queries*/
/*Tablet view*/
@media (max-width: 1024px) {
  .navmenu .main-logo img {
    margin-left: 0px;
  }
}

.profile-name p {
  color: #fff;
}

@media (max-width: 768px) {
  .tabs {
    width: 100%;
  }

  #image-cards .myrow {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center !important;
  }

  #image-cards .col,
  #image-cards .col-5 {
    width: 95% !important;
  }

  .modal-content {
    width: 70% !important;
  }

  .subscribe {
    justify-content: center;
    margin: 1rem auto;
  }

  .promotePopup {
    width: 60%;
  }
}

/*Mobile view*/
@media (max-width: 568px) {
  .preloader {
    text-align: center;
    margin: 50% auto 0 auto;
  }

  .wrapper,
  .container {
    padding: 0.5rem 5px !important;
    overflow: hidden;
  }

  .navmenu,
  .navbuttonsMobile {
    margin: 0 !important;
    padding: 0 !important;
  }

  .navmenu .navbuttons,
  .navmenu .hamburger,
  .navmenu .main-logo,
  .user-create .create-plus,
  #search-container,
  .search {
    display: none;
  }

  .navmenu .navbuttonsMobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .navbuttonsMobile .hamburger,
  .navbuttonsMobile .main-logo {
    display: flex;
  }

  .navbuttonsMobile .hamburger {
    margin-right: 10px;
  }

  .navbuttonsMobile .hamburger img {
    width: 60px;
    margin-right: -5px;
  }

  .navbuttonsMobile .user-create img {
    width: 50px;
    margin-right: 10px;
  }

  .navbuttonsMobile .main-logo {
    margin-right: 15px;
    margin-left: -5px;
  }

  .navbuttonsMobile .main-logo img {
    width: 140px;
  }

  .navbuttonsMobile .live-button {
    padding: 7px 12px;
    font-size: 16px;
    margin-right: 10px;
    width: 60px;
  }

  .navbuttonsMobile .toggle-button {
    width: 60px;
    margin-right: 10px;
  }

  /*All things search for mobile*/
  .navbuttonsMobile #mobileSearchToggleBtn img {
    width: 50px;
    margin-right: 0;
  }

  .mobileSearch {
    display: block;
  }

  #mobile-search-container {
    display: none;
    position: relative;
  }

  #mobile-search-input {
    position: absolute;
    z-index: 1;
    left: -230px;
    top: 40px;
    background: #021129;
    width: 250px;
    color: #fff;
    padding: 0.4rem 0.5rem;
    border: 2px solid #fff;
    font-size: 12px;
    border-radius: 0.5rem;
  }
  /*All things search for mobile*/

  .col,
  .col-5 {
    padding: 0.4rem 5px;
  }

  #image-cards {
    width: 98%;
  }

  #image-cards .col,
  #image-cards .col-5,
  .card {
    width: 100% !important;
  }

  #image-cards .card .post-img h4 {
    position: absolute;
    bottom: -3px;
    left: 5px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    font-size: 17px;
  }

  .more-icons li {
    list-style: none;
    display: inline-block;
    margin-right: 0.6rem;
  }

  .mobileView {
    display: flex;
    margin: 0 auto;
    padding: 0.5rem 0.4rem 0.5rem 0;
    justify-content: space-between;
    align-items: center;
    background: #021129;
    width: 100%;
    height: 6vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    transition: bottom 0.5s ease;
  }

  .mobileView.hide {
    bottom: -100%;
  }

  .mobileView button {
    width: 45px;
    transition: ease 0.4s;
  }

  .mobileView button:hover {
    transform: scale(105%);
  }

  .mobileView button img {
    width: 100%;
  }

  .mobileCreate {
    border-radius: 50%;
    background: #ba00ba;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 35px;
    color: #fff;
  }

  .mobileCreate img {
    width: 80% !important;
  }

  .mobileTabs {
    display: block;
    margin: 3rem auto;
    text-align: center;
  }

  .mobileTabs a {
    text-decoration: none;
    border-radius: 2rem;
    border: white solid 2px;
    padding: 0.7rem 0.3rem 0.2rem 0.1rem;
    transition: 0.3s ease;
    color: #fff;
    font-weight: 500;
    margin: 0 auto;
  }

  .mobileTabs button:hover {
    cursor: pointer;
  }

  .tabs {
    display: none;
  }

  .discover {
    display: block;
    margin: 1rem auto;
    color: #fff;
    text-align: center;
  }

  .discover h4 {
    color: #ba00ba;
    font-size: 20px;
  }

  .discover p {
    font-size: 12px;
  }

  #swipe-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
    position: relative;
  }

  .swipe-item {
    flex: 0 0 auto;
    width: max-content;
  }

  .swipe-item button {
    color: #fff;
    background: #021129;
    padding: 0.5rem 0.7rem;
    border-radius: 2rem;
    border: white solid 2px;
    transition: 0.3s ease;
    font-size: 13px;
    color: #fff;
  }

  /* The Modal background */
  #mobileFollowModal,
  .mobileFollowModal,
  #liveModalMobile {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .mobileModalContent,
  .liveContentMobile {
    background-color: #fff;
    margin: auto;
    padding: 1rem;
    border: none;
    width: 85%;
  }

  /* The Close Button */
  .mobileclose,
  .close2,
  .close3,
  .close4,
  .close5,
  .close6,
  .closeme,
  #closeLiveMobile {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .mobileclose:hover,
  .mobileclose:focus,
  .closeme:hover,
  .closeme:focus,
  #closeLiveMobile:hover {
    color: #000;
    text-decoration: none;
  }

  .mobileModalContent p {
    margin-bottom: 1rem;
    color: #000;
    font-size: 20px;
    text-align: center;
  }

  .follow_popup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
  }

  .follow_popup button {
    color: #fff;
    background: #ba00ba;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }

  .mobileFollowModal {
    display: none;
  }

  #timelineSuggested {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
  }

  #timelineSuggested #timeCapsule {
    width: 33%;
    background: none;
    padding: 0px;
    margin: 0;
    color: #fff;
    font-size: 12px;
  }

  .suggested {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5%;
    width: 35%;
  }

  .suggestedPics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .suggestedPics :nth-child(1) {
    position: absolute;
    left: 0;
  }

  .suggestedPics :nth-child(2) {
    position: absolute;
    left: 17px;
  }

  .suggestedPics :nth-child(3) {
    position: absolute;
    left: 30px;
  }

  .suggested #SuggestedBtn {
    background: #021129;
    padding: 0px;
    color: #fff;
    border-radius: 0.3rem;
    font-size: 12px;
  }

  #suggestedPopup {
    background: #fff;
    width: 95%;
    margin: 0.2rem auto;
    border-radius: 0.3rem;
    position: relative;
    padding: 0.3rem 0.7rem;
  }

  #suggestedPopup .heading {
    text-align: center;
    margin: 1.3rem auto;
  }

  .suggested1,
  .suggested2,
  .suggested3,
  .suggested4,
  .suggested5,
  .suggested6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  #suggestedPopup .usernameBox {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .usernameBox .username,
  .usernameBox img {
    margin-top: 0;
    margin-bottom: 0;
  }

  #suggestedPopup .username {
    cursor: pointer;
    font-size: 12px;
  }

  #suggestedPopup .followSuggested {
    background: #ba00ba;
    padding: 0.3rem 0.4rem;
    color: #fff;
    border-radius: 0.3rem;
    font-size: 12px;
  }

  #closeThis {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
  }

  #suggestedBackground {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  #showMore {
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.4s ease;
  }

  #showMore:hover {
    text-decoration: underline;
  }

  #suggestedMore {
    display: none;
  }

  .promotePopup {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .suggested {
    width: 50%;
  }

  .navbuttonsMobile .hamburger img {
    width: 35px;
  }

  .navbuttonsMobile .main-logo {
    margin-right: 20px;
    margin-left: -10px;
  }

  .navbuttonsMobile .main-logo img {
    width: 110px;
  }

  .navbuttonsMobile .live-button {
    font-size: 13px;
    padding: 5px 8px;
  }

  .navbuttonsMobile .user-create img {
    width: 35px;
  }

  .navbuttonsMobile .toggle-button {
    width: 35px;
    margin-right: 10px;
  }

  .navbuttonsMobile #mobileSearchToggleBtn img {
    width: 30px;
  }
}

@media (max-width: 375px) {
  .navbuttonsMobile .main-logo img {
    width: 90px;
    margin-left: -5px;
  }

  .navbuttonsMobile .live-button {
    font-size: 12px;
    padding: 5px 8px;
  }

  .navbuttonsMobile .user-create img {
    width: 30px;
    margin-right: 0;
  }

  .navbuttonsMobile .toggle-button {
    width: 30px;
    margin-right: 5px;
  }

  .navbuttonsMobile #mobileSearchToggleBtn img {
    width: 25px;
  }

  .suggested {
    width: 55%;
  }

  #card1 {
    height: 442px;
  }

  #card2 {
    height: 300px;
  }

  #card3 {
    height: 495px;
  }

  #card4 {
    height: 310px;
  }

  #card5 {
    height: 495px;
  }

  #card6 {
    height: 295px;
  }

  #card7 {
    height: 375px;
  }

  #card8 {
    height: fit-content;
  }

  .mobileView button {
    width: 45px;
  }

  .mobileCreate {
    border-radius: 50%;
    background: #ba00ba;
    padding: 10px;
    font-size: 13px;
    margin-bottom: 35px;
    color: #fff;
  }
}

@media (max-width: 350px) {
  .suggested {
    width: 65%;
  }

  #card1 {
    height: 400px;
  }

  #card2 {
    height: 275px;
  }

  #card3 {
    height: 450px;
  }

  #card4 {
    height: 290px;
  }

  #card5 {
    height: 450px;
  }

  #card6 {
    height: 270px;
  }

  #card7 {
    height: 365px;
  }
}
