*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129 !important;
}

.content {
  color: #fff;
  width: 45%;
  margin: 0.5rem auto;
  padding: 0;
}

.backArrow {
  cursor: pointer;
}

.content h3 {
  text-align: center;
}

.content p {
  margin: 1rem auto;
}

/*MEDIA VIEWS*/
@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .content {
    width: 98%;
    padding: 3px 7px;

  }
}
