*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129 !important;
}

.content {
  color: #fff;
  width: 45%;
  margin: 2rem auto;
  padding: 5rem;
  line-height: 1.5rem;
}

.content h3 {
  text-align: center;
}

.content p {
  margin: 1rem auto;
}

/*MEDIA VIEWS*/
@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}

@media (max-width: 568px) {
  .content {
    width: 95%;
    padding: 0.5rem;
    line-height: 25px;
  }
}
