*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #021129;
  max-width: 100vw;
  width: 100vw;
}

.top {
  display: flex;
  justify-content: flex-start;
  width: 85%;
}

.backArrow {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-left: 10%;
  cursor: pointer;
}

.content {
  background: #021129;
  margin: 1rem auto;
  border-radius: 0.5rem;
  width: 50%;
  padding: 1.5rem 0;
  border: solid 2px #fff;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.banner {
  width: 100%;
  height: 120px;
  border-bottom: 2px solid #fff;
  padding: 0 1.5rem;
  position: relative;
}

.uploadBanner input[type="file"] {
  visibility: hidden;
}

.uploadBanner span {
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
}

.img {
  position: relative;
}

/*Upload Profile Pic*/
label.uploadProfilePic input[type="file"] {
  position: absolute;
  top: -1000px;
}
.uploadProfilePic {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -15px;
}
/*Upload Profile Pic end*/

.userDetails {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.userDetails button {
  background: none;
  border: none;
}

.userDetails button img {
  width: 25px;
}

.userDetails p {
  margin-bottom: 0;
}

#editParagraph {
  padding: 0.3rem;
}

#doneButton {
  background: none;
  color: #fff;
  font-weight: 500;
}

.buttons {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
}

.buttons button {
  background: none;
  border: #fff solid 2px;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  transition: ease 0.5s;
}

.buttons button:hover {
  background: #bd74bd;
  border: 2px solid #bd74bd;
}

/*MOBILE VIEW*/
@media (max-width: 768px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 568px) {
  .content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}
