*,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("Images/wizkid2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.updateProfilecard {
  margin: 1rem auto;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px #000;
  width: 60%;
  padding: 2rem 1rem;
  background: #021129;
}

.backArrow {
  margin-left: 5rem;
  font-size: 1.5rem;
}

.backArrow:hover {
  cursor: pointer;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 3rem auto;
  border: solid 2px #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.userDetails h3,
.userDetails p {
  color: #fff;
  font-size: 1.1rem;
}

.userInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.userInfoInner {
  line-height: 0.3rem;
  position: relative;
}

.userInfoInner img {
  width: 25px;
  position: absolute;
  left: 110px;
  top: -15px;
}

.userInfoInner h3 {
  padding: 0.3rem 0.3rem 0.7rem 0;
  border: none;
}

.userInfoInner #edit-button {
  color: #fff;
  border: none;
}

.userInfoInner #save-button {
  padding: 0.8rem;
}

.userInfoInner #save-button:hover {
  background: #bd74bd;
  border: 2px solid #bd74bd;
}

.userInfoInner img:hover {
  cursor: pointer;
}

.fa-arrow-left-long {
  color: #fff;
}

.userPic {
  position: relative;
}

.userPic #file-upload {
  background: none;
  border: none;
}

.userPic .custom-file-button img {
  position: absolute;
  left: 60px;
  top: -13px;
}

.userPic .custom-file-button img:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
}

.buttons button {
  background: none;
  border: #fff solid 2px;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  transition: ease 0.5s;
}

.buttons button:hover {
  background: #bd74bd;
  border: 2px solid #bd74bd;
}

#editButton {
  background: none;
  border: none;
}

#saveButton {
  background: #021129;
  border: #fff solid 2px;
  border-radius: 0.5rem;
  padding: 0.8rem 0.7rem;
  color: #fff;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .userDetails {
    justify-content: flex-start;
  }

  .userInfoInner {
    position: relative;
    margin-left: -100px;
  }
}

@media (max-width: 768px) {
  .updateProfilecard {
    width: 90%;
  }
}

@media (max-width: 568px) {
  .updateProfilecard {
    width: 95%;
  }
  .userInfoInner {
    margin-left: -220px;
  }
}

@media (max-width: 375px) {
  .userInfoInner {
    margin-left: -250px;
  }
}
