* {
  font-family: "Poppins", sans-serif;
}
body {
  background: #021129 !important;
}

.main-logo {
  margin: 3rem auto;
  width: 40%;
}

.main-logo img {
  width: 100%;
}

.backArrow {
  margin-left: 15%;
}

.backArrow i {
  transition: ease 0.3s;
}

.backArrow i:hover {
  cursor: pointer;
  color: #cc1ccc;
}

.topMobile,
.mobileFollow {
  display: none;
}

.fa-arrow-left-long {
  color: #fff;
  font-size: 2rem;
}

#profile-card {
  margin: 1rem auto;
  width: 80%;
  background: #021129;
  box-shadow: 3px 3px 8px #000;
  padding: 2rem;
  border-radius: 2rem;
}

.logout {
  float: right;
}

.logout button {
  border: none;
  color: #fff;
  background: #cc1ccc;
  border-radius: 50%;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 1rem;
}

.userDetails button {
  background: #cc1ccc;
  color: #fff;
  border: none;
  border-radius: 3rem;
  padding: 0.4rem 2rem;
  font-weight: 500;
}

.userDetails button:hover {
  background: #770477;
}

.userDetails h3,
.userDetails p {
  color: #fff;
}

.userInfo {
  display: flex;
  gap: 0.5rem;
}

.userInfo ul li {
  list-style: none;
  color: #fff;
}

.userInfo ul {
  padding-left: 0;
}

.userInfoInner {
  line-height: 1rem;
}

.userInfoInner h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

.user-List {
  margin-left: 3.4rem;
  margin-top: 1.5rem;
}

.user-List li {
  list-style: none;
  color: #fff;
  font-size: 1rem;
}

.userTabs {
  margin: 5rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.6rem;
}

.userTabs p {
  color: #000;
  background: #fff;
  border-radius: 3rem;
  padding: 0.3rem 2rem;
  transition: ease 0.4s;
  font-weight: 500;
}

.userTabs p:hover {
  background: #cc1ccc;
  color: #fff;
  cursor: pointer;
}

.card-body button {
  background: none;
  border: none;
}

.fa-solid,
fa-bookmark {
  color: #fff;
  background: none;
}

#more-icons,
#more-iconsII,
#more-iconsIII,
#more-iconsIV,
#more-iconsV,
#more-iconsVI {
  margin-bottom: 0;
  padding-bottom: 0;
  display: none;
}

#myBtn,
#myBtnII,
#myBtnIII,
#myBtnIV,
#myBtnV,
#myBtnVI {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.4rem;
}

#more-icons li,
#more-iconsII li,
#more-iconsIII li,
#more-iconsIV li,
#more-iconsV li,
#more-iconsVI li {
  list-style: none;
  display: inline-block;
  margin-right: 0.6rem;
}

#more-icons li p,
#more-iconsII li p,
#more-iconsIII li p,
#more-iconsIV li p,
#more-iconsV li p,
#more-iconsVI li p {
  color: #fff;
}

.other-icons {
  display: none;
}

#image-cards {
  justify-content: space-between !important;
  width: 80%;
  margin-top: 3rem;
}

#image-cards .card {
  background: #cc1ccc;
  border-radius: 2rem !important;
  margin-bottom: 2rem;
  transition: ease 0.4s;
  position: relative;
}

#image-cards .card:hover {
  cursor: pointer;
  background: #5a015a;
}

#image-cards .card-text {
  position: absolute;
  top: 14rem;
  left: 0.5rem;
  text-align: left;
  line-height: 0.1rem;
  color: #fff;
}

#image-cards .card-text2 {
  position: absolute;
  top: 14rem;
  left: 0.5rem;
  text-align: left;
  line-height: 0.1rem;
  color: #fff;
}

#image-cards .card-text3 {
  position: absolute;
  top: 17rem;
  left: 0.5rem;
  text-align: left;
  line-height: 0.1rem;
  color: #fff;
}

#image-cards .card-text p,
#image-cards .card-text2 p,
#image-cards .card-text3 p {
  font-size: 0.7rem;
}

#image-cards .card-text h4,
#image-cards .card-text2 h4,
#image-cards .card-text3 h4 {
  font-weight: bold;
}

#image-cards .card .card-body {
  padding-bottom: 0 !important;
}

#image-cards .card .post-img {
  position: relative !important;
  text-align: left;
}

#image-cards .card .post-img a {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
}

#image-cards .card .post-img p {
  position: absolute;
  bottom: 5rem;
  left: 1rem;
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 0 !important;
}

#image-cards .card .post-img h4 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: bold;
  color: #fff;
}

#image-cards .card img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#image-cards .icons-list {
  display: flex;
  justify-content: start;
  margin-left: -2rem !important;
}

#image-cards .icons-list li {
  list-style: none;
}

.myrow .card-body {
  display: flex !important;
  justify-content: space-between;
  align-items: flex-start;
}

#image-cards .icons-list .more-icon {
  margin-bottom: 0 !important;
}

/*MOBILE VIEWS*/

@media (max-width: 568px) {
  .wrapper {
    padding: 0 !important;
  }

  .backArrow,
  .follow-button {
    display: none;
  }

  #profile-card {
    width: 95%;
  }

  .userDetails {
    width: 100%;
    margin-top: 2.5rem;
    justify-content: flex-start;
    gap: 1rem;
  }

  .userInfo {
    width: 45% !important;
  }

  .userInfo img {
    width: 50px;
  }

  .userInfoInner h3 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .userInfoInner p {
    font-size: 13px;
  }

  .mobileFollow {
    padding: 0.5rem 1.2rem !important;
    display: block;
  }

  .topMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .user-List {
    margin-left: 1rem;
  }

  .userTabs {
    gap: 1rem;
    justify-content: center;
  }

  .userTabs p {
    padding: 0.5rem 1.3rem;
  }

  #image-cards,
  .myrow {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .col,
  .col-5,
  .card {
    width: 100% !important;
    padding: 0 !important;
  }

  .post-img {
    width: 100% !important;
    padding: 0 !important;
  }
}
